<div class="container">
    <div class="card-list" *ngIf="cartItemList.length>0">
        <div class="card">
            <div class="card-content" *ngFor="let product of cartItemList">
                <div class="image-box">
                    <div class="product-image">
                        <img src="{{product?.image}}" alt="productimage">
                    </div>
                    <div class="product-quantity">
                        <button class="decrement" [disabled]="countDisable"
                            (click)="decrement(product?.price)">-</button>
                        <input type ="number" class="count" [(ngModel)]="count" [value]="count">
                        <button class="increment" (click)="increment(product?.price)">+</button>
                    </div>
                </div>
                <div class="product-content">
                    <p>{{product?.title}}</p>
                    <p>{{product?.description}}</p>
                    <p>{{product?.category}}</p>
                    <p><span>price:</span>₹{{product?.price}}</p>
                    <b (click)="removeItem(product)">Remove</b>
                </div>
            </div>
        </div>
        <div class="card price-details">
            <h2>price details</h2>
            <div class="price-content"><span>price:</span><span>₹{{total}}</span></div>
            <div class="price-content"><span>Discount:</span><span>₹00000</span></div>
            <div class="price-content"><span>Delivery Charges:</span><span>free</span></div>
            <div class="price-content"><span>Total Amount:</span><span>₹{{total}}</span></div>

        </div>
    </div>
</div>