.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
    padding-top: 5rem;
}

.product-content {
    text-transform: capitalize;
}

.card button {
    display: inline-block;
    background-color: #e76f51;
    border: unset;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: .5rem;
    text-transform: capitalize;
    width: 100px;
    margin: 1rem 1rem 1rem 0;
    border-radius: 2px;
    box-shadow: (0, 0, 0, 0.2) 0px 1px 2px 0px;
    outline: #e76f51;
}

.card .add-to-cart {
    background-color: #f4a261;
}

@media (min-width: 321px) {
    .card {
        display: flex;
        flex-direction: row;
    }
}