<div class="container">
    <ng-continer *ngIf="products | async | search:searchTerm as result">
        <div class="product-list">
            <div class="card" *ngFor="let product of result " [routerLink]="['/catagory', product.category]">
                <div class="product-image">
                    <img src="{{product.image}}" alt="product image">
                </div>
                <div class="product-content">
                    <p>{{product.title}}</p>
                    <p>{{product.category}}</p>
                    <p>₹{{product.price}}</p>
                </div>
            </div>
        </div>
    </ng-continer>
</div>